/* Estilo para quitar los bordes laterales y superiores, y solo mantener el borde inferior */


/* Aplicar la fuente Alice a todos los elementos */
.root {
    -fx-font-family: 'Alice';
    -fx-font-size: 14px;
}

.footer {
    -fx-font-family: 'Alice';
    -fx-font-size: 12px;
}



TextField {
     -fx-background-color: white; /* Fondo blanco */
     -fx-border-color: transparent transparent #000000 transparent; /* Borde inferior negro */
     -fx-border-width: 1 1 1 1; /* Ancho del borde: 0 en los lados, 1 en la parte inferior */
     -fx-padding: 5 10;
}

.AnchorPane {
    -fx-background-image: url("../Img/DashBoardBackground.png"); /* Imagen de fondo */
    -fx-background-size: cover; /* Ajustar la imagen a la pantalla */
    -fx-background-repeat: no-repeat; /* No repetir la imagen */
    -fx-background-position: center;
    -fx-font-family: "Alice";
    -fx-font-size: 16px; /* Centrar la imagen */
}

.Image {
    -fx-background-image: url("../Img/DashBoardBackground.png"); /* Imagen de fondo */
    -fx-background-size: cover; /* Ajustar la imagen a la pantalla */
    -fx-background-repeat: no-repeat; /* No repetir la imagen */
    -fx-background-position: center;
}

/* Estilo para el botón de inicio de sesión */
Button {
    -fx-font-family: "Alice";
    -fx-font-size: 16px;
    -fx-text-fill: grey;
    -fx-background-color:  white;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-border-radius: 15px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 0); /* Sombra */
}
Button:hover {
    -fx-background-color: black;
    -fx-text-fill: grey;
}